WebContent/WEB-INF/wsdl/UserService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	targetNamespace="http://webservice.zdsoft.com/namespace/userservice"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://webservice.zdsoft.com/namespace/userservice" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="UserService">
	<wsdl:types>
		<xsd:schema targetNamespace="http://webservice.zdsoft.com/namespace/userservice">
			<!-- xsd part start -->
			<xsd:element name="login" type="tns:login" />
			<xsd:element name="loginResponse" type="tns:loginResponse" />
			<xsd:element name="getUser" type="tns:getUser" />
			<xsd:element name="getUserResponse" type="tns:getUserResponse" />
			<xsd:complexType name="login">
				<xsd:sequence>
					<xsd:element name="username" type="xsd:string" />
					<xsd:element name="password" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="loginResponse">
				<xsd:sequence>
					<xsd:element name="info" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="getUser">
				<xsd:sequence>
					<xsd:element name="username" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="getUserResponse">
				<xsd:sequence>
					<xsd:element name="user" type="tns:user" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="user">
				<xsd:sequence>
					<xsd:element name="username" type="xsd:string" />
					<xsd:element name="password" type="xsd:string" />
					<xsd:element name="nickname" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- xsd part end -->
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="login">
		<wsdl:part element="tns:login" name="parameters" />
	</wsdl:message>
	<wsdl:message name="loginResponse">
		<wsdl:part element="tns:loginResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getUser">
		<wsdl:part element="tns:getUser" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getUserResponse">
		<wsdl:part element="tns:getUserResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="IUserService">
		<wsdl:operation name="login">
			<wsdl:input message="tns:login" />
			<wsdl:output message="tns:loginResponse" />
		</wsdl:operation>
		<wsdl:operation name="getUser">
			<wsdl:input message="tns:getUser" />
			<wsdl:output message="tns:getUserResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="userServiceSOAP" type="tns:IUserService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="login">
			<wsdl:input><soap:body use="literal" /></wsdl:input>
			<wsdl:output><soap:body use="literal" /></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUser">
			<wsdl:input><soap:body use="literal" /></wsdl:input>
			<wsdl:output><soap:body use="literal" /></wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UserService">
		<wsdl:port binding="tns:userServiceSOAP" name="userServicePort">
			<soap:address location="http://localhost:8080/springwebservice/service/UserService.wsdl" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>

